.dropdown-button {
  border: none;
  background:  var(--color_menu_ecris_fill_color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 14px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
  gap: 10px;
  border-radius: 999px;

}
.dropdown, .dropup-button{
  color: var(--color_black);
  
}

.button-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  height: 32px;
  width: 32px;
  border: 0.75px solid var(--gray-50, var(--color_index_button_border_dow));
  background:  var(--color_menu_ecris_fill_color);
  box-shadow: 0px 1.5px 6px 0px rgba(0, 0, 0, 0.08);
  margin-right: 1rem;
  color: var(--color_black);
}

.index_button{
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  align-items: center;
}

.index_button button{
  padding: 1.2rem;
  background-color: var(--color_menu_ecris_fill_color);
  border-radius: 1.8rem;
  border: none;
  width: 90%;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  transition: background-color 0.3s;


}
.index_button button:hover {
  background-color: #E5E7EB;
}
.index_button button:first-child{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 1rem;
  color: #374151;
  font-weight: 700;
  
}
.index_button button:first-child img{
  background-color: var(--color_timeline_contact);
  border-radius: 50%;
  padding: 10px;
  
}
.index_button button:last-child{
  padding: 1.2rem 1.5rem;
  border: 1px solid var(--color_index_button_border_dow);
}


@media screen and (min-width:768px){
  .button-theme {
      position: absolute;
      right: 10px;
      top: 0px;
      height: 35px;
      width: 35px;
      margin-top: 2rem;
  }
  .index_button{
    flex-direction: row;
    margin-top: 4rem;
  }
  .index_button button:first-child{
    width: 50%;
  }

  .index_button button:last-child{
    width: auto;
    
  }


}
@media screen and (min-width:1024px){
  .button-theme {
    height: 50px;
    width: 50px;
    margin-top: 1.2rem;
}
}

@media screen and (min-width:1440px){
  .button-theme {
      right: 60px;

  }


}