

.header {
  width: 100%;
  margin-top: 3rem
}

.header .container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.header .container > button{
  margin-left: 16px;
}

div.container {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 2rem;
}


